<button class="btn btn-primary ml-3" type="button" (click)="add(configs[0])">Add Survey Tile</button>
<button class="btn btn-primary ml-3" type="button" (click)="add(configs[1])">Add Health Tracker</button>

<div class="row">
    <div class="col-3" *ngFor="let c of configs2; let i = index;">
        <plugin-proxy [config]="c" (onComplete)="onComplete(i)"></plugin-proxy>
    </div>
</div>

<!-- <div class="row" *ngIf="configs && configs.length > 0">
    <div class="col-6">
        <plugin-proxy [config]="configs[0]"></plugin-proxy>
    </div>
    <div class="col-6">
        <plugin-proxy [config]="configs[1]"></plugin-proxy>
    </div>
</div> -->