<div class="p-5">
    <h1>Input/Output</h1>

    <div class="mb-3">
        <label class="font-weight-bold">Say Hello</label>
        <input type="text" [(ngModel)]="sayHello">
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" (click)="toggleSelectedOption()">Toggle Option</button>
        <pre>{{selectedOption | json}}</pre>
    </div>

    <react-mfe-input-output
        *ngIf="reactMFELoaded"
        [attr.say_hello]="sayHello"
        [attr.selected_option]="JSON.stringify(selectedOption)"></react-mfe-input-output>
</div>
