<div class="p-5">
    <h1>Dynamic Components</h1>
    
    <button class="btn btn-primary ml-3" type="button" (click)="add(configs[0])">Add Angular Tile</button>
    
    <button class="btn btn-primary ml-3" type="button" (click)="reactMfeList.push('');">Add React Tile</button>
    
    <div class="row">
        <div class="col-3 my-3" *ngFor="let c of configs2; let i = index;">
            <plugin-proxy [config]="c"></plugin-proxy>
        </div>
    </div>

    <div class="row">
        <div class="col-3 my-3" *ngFor="let item of reactMfeList">
            <app-web-component-loader
                elementName="react-mfe-tile"
                [importName]="RegistryItem.REACT_MFE_TILE"></app-web-component-loader>
        </div>
    </div>
</div>
