/* You can add global styles to this file, and also import other style files */
.border-blue {
  border: 5px solid blue;
}

.border-orange {
  border: 5px solid orange;
}

.border-red {
  border: 5px solid red;
}

.border-purple {
  border: 5px solid purple;
}

.border-green {
  border: 5px solid green;
}

.border-teal {
  border: 5px solid rgb(0, 185, 185);
}

.border-green {
  border: 5px solid green;
}

.react-wrapper {
  background-color: #61DBFB;
  border: 5px solid #20232a;
}
