<div class="p-5">
    <h1>Home Page</h1>

    <h4 class="pb-3">This page is part of the Host App and describes the border color definitions:</h4>

    <ul>
        <li class="pb-4">
            <span class="border-blue p-2">Blue is used to show the boundry of the Host App container</span>
        </li>
        <li class="pb-4">
            <span class="border-orange p-2">Orange is used to show the boundry of the Host App router-outlet</span>
        </li>
        <li class="pb-4">
            <span class="border-red p-2">Red is used to show the boundry of the MFE Billing page</span>
        </li>
        <li class="pb-4">
            <span class="border-purple p-2">Purple is used to show the boundry of the MFE Health Tracker Widget</span>
        </li>
        <li class="pb-4">
            <span class="border-teal p-2">Teal is used to show the boundry of the MFE Article Tile</span>
        </li>
        <li class="pb-4">
            <span class="border-green p-2">Green is used to show the boundry of the MFE Survey Tile</span>
        </li>
    </ul>
</div>
