<div class="p-5">
    <h1>Home Page</h1>

    <h4 class="pb-3">This page is part of the Angular Host app and describes the border color definitions:</h4>

    <ul>
        <li class="pb-5">
            <span class="border-red p-2">Angular Host container</span>
        </li>
        <li class="pb-5">
            <span class="border-orange p-2">Angular Host router-outlet</span>
        </li>
        <li class="pb-5">
            <span class="border-blue p-2">Angular MFE Parent Module</span>
        </li>
        <li class="pb-5">
            <span class="react-wrapper p-2">React MFE Web Component</span>
        </li>
        <li class="pb-5">
            <span class="border-purple p-2">Angular MFE Static Component</span>
        </li>
        <li class="pb-5">
            <span class="border-teal p-2">Angular MFE Article Tile</span>
        </li>
        <li>
            <span class="border-green p-2">Angular MFE Survey Tile</span>
        </li>
    </ul>
</div>
